<div class="wrapper">
      <mat-tab-group>
        <mat-tab label="Reordering lists">
          <div cdkDropList class="movie-list" (cdkDropListDropped)="drop($event)">
            <div class="movie-block" *ngFor="let movieName of Movies" cdkDrag>{{movieName}}</div>
          </div>
        </mat-tab>
        <mat-tab label="Transfer Items Between Lists">
          <div class="container">
            <h2>Movies</h2>
            <div cdkDropList #moviesList="cdkDropList" [cdkDropListData]="MoviesList"
              [cdkDropListConnectedTo]="[doneMovieList]" class="movie-list" (cdkDropListDropped)="onDrop($event)">
              <div class="movie-block" *ngFor="let moviesList of MoviesList" cdkDrag>{{moviesList}}</div>
            </div>
          </div>
          <div class="container">
            <h2>Movies Watched</h2>
            <div cdkDropList #doneMovieList="cdkDropList" [cdkDropListData]="MoviesWatched"
              [cdkDropListConnectedTo]="[moviesList]" class="movie-list" (cdkDropListDropped)="onDrop($event)">
              <div class="movie-block" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

</div>
